<div id="addattachmentDlg" class="modal fade in" style="display: block;" role="dialog">
    <div class="modal-backdrop fade backdrop"></div>
    <div class="modal-dialog dialog-width">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Attachment/s</h4>
            </div>
            <div class="modal-body" ng-show="!!attachments || attachments.length > 0">
                <div class="form-group left-inner-addon">
                    <i class="glyphicon glyphicon-search"></i>
                    <input type="text" class="form-control" name="searchText" ng-model="searchText" placeholder="Search" />
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <tr>
                            <th><input type="checkbox" name="selectAll" ng-model="allSelected"  ng-click="selectAttachments(allSelected)" /></th>
                            <th>Name</th>
                            <th>Size</th>
                            <th>Version</th>
                        </tr>
                        <tr ng-repeat="attachment in tempData| filter:searchText">
                            <td>
                                <label>
                                    <input type="checkbox" name="selectedFile" ng-model="attachment.selectedAttachment" ng-disabled="checkSize(attachment) || attachment.isSizeExceeded" />
                                </label>
                            </td>
                            <td>
                                <label>{{attachment.Name}}</label>
                            </td>
                            <td>
                                <label>{{(!!attachment.selectedVersion.ATT_EXP__Size__c) ? attachment.selectedVersion.ATT_EXP__Size__c : attachment.ATT_EXP__Size__c }}</label>
                            </td>
                            <td>
                                <select class="form-control paginationInput" name="version" ng-options="version.ATT_EXP__Version__c for version in attachment.ATT_EXP__Attachment_Versions__r" ng-model="attachment.selectedVersion" ng-init="attachment.selectedVersion = attachment.ATT_EXP__Attachment_Versions__r[0]" ng-change="updateSizeFlag(attachment)">
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-xs-3 col-sm-3">
                            <ul class="list-inline pull-right">
                                <li>
                                    <label for="pageSize">Page Size:</label>
                                </li>
                                <li>
                                    <select name="pageSize" class="form-control paginationInput" ng-options="size for size in pagingOptions.pageSizes" ng-model="pagingOptions.pageSize" ng-change="initCurrentPage()">
                                    </select>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="pull-left">
                                <button class="btn btn-sm btn-default" ng-click="firstPage()">
                                    <<
                                </button>
                                <button class="btn btn-sm btn-default" ng-click="prevPage()">
                                    <
                                </button>
                            </div>
                            <div class="pull-left paginationInputDiv">
                                <div class="pull-left">
                                    <input type="number" class="form-control paginationInput" min="1" max="{{maxPages}}" ng-model="pagingOptions.currentPage" ng-keypress="validatePageNumber($event,pagingOptions.currentPage)" />
                                </div>
                                <div class="pull-left">
                                    &nbsp;<label ng-show="maxPages > 0" style="vertical-align: sub;">/ {{maxPages}}</label>
                                </div>
                            </div>
                            <div class="pull-left">
                                <button class="btn btn-sm btn-default" ng-click="nextPage()">
                                    >
                                </button>
                                <button class="btn btn-sm btn-default" ng-click="lastPage()">
                                    >>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="modal-body" ng-hide="!!attachments || attachments.length > 0">
                <div class="text-info">
                    <center><h3>No attachments found for this record!</h3></center>
                </div>
            </div>
            <div class="modal-footer">
                <div ng-show="!!attachments || attachments.length > 0">
                    <button class="btn btn-primary btn-sm" ng-click="addAttachments()">Attach Files</button>
                </div>
            </div>
        </div>
    </div>
</div>

