<div id="addattachmentLinkDlg" class="modal fade in" style="display: block;" role="dialog">
    <div class="modal-backdrop fade backdrop"></div>
    <div class="modal-dialog dialog-width">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Add Attachment Link/s</h4>
            </div>
            <div class="modal-body" ng-show="!!attachmentLinks || attachmentLinks.length > 0">
                <div class="form-group left-inner-addon">
                    <i class="glyphicon glyphicon-search"></i>
                    <input type="text" class="form-control" name="searchText" ng-model="searchText" placeholder="Search" />
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped table-hover">
                        <tr>
                            <th><input type="checkbox" name="selectAll" ng-model="allSelected" ng-click="selectAllAttachments(allSelected)" /></th>
                            <th>Name</th>
                            <th>Expires On</th>
                            <th>Size</th>
                            <th>Password Protected?</th>
                            <th>Version</th>
                        </tr>
                        <tr ng-repeat="attachmentLink in tempData| filter:searchText">
                            <td>
                                <label>
                                    <input type="checkbox" name="selectedLink" ng-model="attachmentLink.selectedLink" />
                                </label>
                            </td>
                            <td>
                                <label>{{attachmentLink.Name}}</label>

                            </td>
                            <td id="{{attachmentLink.Id}}">
                                <!--<input type="text" class="form-control" datepicker-popup="MM/dd/yyyy" ng-model="attachmentLink.expiresOn" is-open="opened" min-date="minimumDate" ng-required="true" close-text="Close" required="required">-->
                                <input type="text" class="form-control paginationInput" datepicker-popup="{{format}}" datepicker-options="dateOptions" show-button-bar="false" ng-model="attachmentLink.expiresOn" is-open="attachmentLink.opened" min-date="minimumDate" ng-required="true" close-text="Close" ng-click="open($event,attachmentLink)" ng-keydown="suppressKeys($event)" />
                            </td>
                            <td>
                                <label ng-model="attachmentLink.attachSize">{{(!!attachmentLink.selectedVersion.ATT_EXP__Size__c) ? attachmentLink.selectedVersion.ATT_EXP__Size__c : attachmentLink.ATT_EXP__Size__c }}</label>
                            </td>
                            <td>
                                <label>
                                    <input type="checkbox" name="passwordProtected" ng-model="attachmentLink.passwordProtected" />
                                </label>
                            </td>
                            <td>
                                <select class="form-control paginationInput" name="version" ng-model="attachmentLink.selectedVersion" ng-init="attachmentLink.selectedVersion = attachmentLink.ATT_EXP__Attachment_Versions__r[0]" ng-options="version.ATT_EXP__Version__c for version in attachmentLink.ATT_EXP__Attachment_Versions__r">
                                </select>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-xs-3 col-sm-3">
                            <ul class="list-inline pull-right">
                                <li>
                                    <label for="pageSize">Page Size:</label>
                                </li>
                                <li>
                                    <select name="pageSize" class="form-control paginationInput" ng-options="size for size in pagingOptions.pageSizes" ng-model="pagingOptions.pageSize" ng-change="initCurrentPage()">
                                    </select>
                                </li>
                            </ul>
                        </div>

                        <div class="col-md-9 col-xs-9 col-sm-9">
                            <div class="pull-left">
                                <button class="btn btn-sm btn-default" ng-click="firstPage()">
                                    <<
                                </button>
                                <button class="btn btn-sm btn-default" ng-click="prevPage()">
                                    <
                                </button>
                            </div>
                            <div class="pull-left paginationInputDiv">
                                <div class="pull-left">
                                    <input type="number" class="form-control paginationInput" min="1" max="{{maxPages}}" ng-model="pagingOptions.currentPage" ng-keypress="validatePageNumber($event,pagingOptions.currentPage)" />
                                </div>
                                <div class="pull-left">
                                    &nbsp;<label ng-show="maxPages > 0" style="vertical-align: sub;">/ {{maxPages}}</label>
                                </div>
                            </div>
                            <div class="pull-left">
                                <button class="btn btn-sm btn-default" ng-click="nextPage()">
                                    >
                                </button>
                                <button class="btn btn-sm btn-default" ng-click="lastPage()">
                                    >>
                                </button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="modal-body" ng-hide="!!attachmentLinks || attachmentLinks.length > 0">
                <div class="text-info">
                    <center><h3>No attachments found for this record!</h3></center>
                </div>
            </div>
            <div class="modal-footer">
                <div ng-show="!!attachmentLinks || attachmentLinks.length > 0">
                    <button class="btn btn-primary btn-sm" ng-click="attachLinks()">Attach Links</button>
                </div>
            </div>
        </div>
    </div>
</div>
